textarea{
    resize: none;
    padding: 0.5rem;
}
textarea:focus{
    outline: none;
}
h3{
    font-size: 50%;
}
h4{
    font-size: 40%;
    font-style: italic;
}


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100svw;
    font-size: 2rem;
    gap: 1rem;
}



.gif_celeb{
    width: 10rem;
    aspect-ratio: 1;
    background-size: cover;
    background-image: url("../assets/giphy.gif");
}
.user_link{
    border:1px solid rgb(28, 245, 8);
    background-color: rgba(8, 245, 127, 0.253);
    width: clamp(20rem, 60vw, 30rem);
    height: 3rem;
    padding: 1rem;
    overflow: hidden;
    font-size: clamp(0.8rem, 2vw, 1rem);
}
.notes_list{
    font-size: 1rem;
    margin: 1rem;
}
.notes_list li{
    margin: 0.7rem;
}
.notes_list li:nth-child(3){
   color: red;
   font-size: 1.2rem;
}
.notes_list li::before{
    content: "👉";
    margin-right: 0.5rem;
}
.button_wrapper{
    width:clamp(20rem, 60vw, 30rem);
}
.button_wrapper .logo{
    background-color: rgb(28, 204, 87);
    border: none;
    color: white;
}
.button_wrapper .copy_logo{
    background-color: #000;
}

.button_wrapper button{
    width: 100%;
    height: 3rem;
    background-color: rgb(28, 204, 87);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.button_wrapper button:nth-child(2){
    background-color: #fff;
    color: #000;
}
.messages{
    width: 90svw;
    border: 1px solid rgb(28, 204, 87);
    background-color: rgba(8, 245, 127, 0.253);
    padding: 0.5rem;
    text-align: center;
}
.messages h3{
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
    /* margin-block: 0.5rem; */
    padding: 1rem;
}
.messages>._message{
    font-size: small;
    width: 100%;
    height: fit-content;
    padding-left:0.5rem ;
    margin-top: 0.5rem;
    text-align: left;
    border: 1px solid red;

}
.messages>._message .message_text{
    font-size: 1.2rem;
    margin-block: 0.3rem;
}
.messages>._message .message_time{
    text-align: right;
    padding: 0.5rem;
}
.page-wrapper{
    width: 100svw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-wrapper >h3{
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
    margin-block: 0.5rem;
    padding: 1rem;
}